body{
    background-color: #001420;
    margin: 0%;
    padding: 0%;
}

.con{
    transform: translate(-50%, -50px);
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
}